{% extends "polybook/layout.html" %}

{% block body %}
    <div class="container mt-5">
        <div class="container-index">
            <div class="text-center p-5 bg-pght rounded shadow-lg">
                <h1 class="display-4 text-danger">Polybook</h1>
                <h2>A website to read a book in multiple languages to become fluenty</h2>
            </div>
            
            <div class="about mb-5 p-5 bg-pght rounded shadow">
                <h2 class="text-primary mb-4">Why read a book is the best form to learning a another language?</h2>
                <p>It's the fastest way to learn new words</p>
                <p>You absorb the grammar naturally.</p>
                <p>Reading makes understanding what you hear so much easier</p>
                <p>Reading improves your speaking</p>
                <p>Reading makes you forget you're even learning a language</p>
                <p>You can do it anywhere</p>
            </div>

            <div class="testimonial mb-5 p-5 bg-pght rounded shadow">
                <h2 class="text-primary mb-4">Read more for reading learning</h2>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Lingtuitive</h5>
                                <a href="https://lingtuitive.com/blog/5-reasons-reading-is-the-fastest-way-to-learn-a-language" target="_blank" >5 reasons Reading is the Fastest Way to Learn a Language</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">TalkPal IA</h5>
                                <a href="https://talkpal.ai/the-role-of-reading-in-language-learning-tips-and-techniques/" target="_blank">The role of Reading in Language Learning</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Samarkand State Institute of Foreign Language</h5>
                                <a href="https://zienjournals.com/index.php/jpip/article/download/1798/1496/1821#:~:text=The%20Overall%20Benefits%20of%20Reading%20Books&text=%E2%80%9CReading%20English%20is%20an%20important,%E2%80%9D%20(John%20Bostock%2C%202021)%3B">The Overall Benefits of Reading books</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-credits">
                <div class="credits">
                    <h1>This website was developed by <a href="https://github.com/lemosslucas" target="_blank">@lemosslucas</a></h1>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

